
  <div ng-include="'/views/timer.html'">
  </div>
  <br>
  <br>
  <ul>

  <div ng-include = "'/views/questions.html'"></div>
  <br>

<div class="well well-lg" style="text-align:left">
    <form class="form-horizontal" role="form" name="qForm" novalidate>
        <h3>Add a question!</h3>
        Your question:
        <input type="text " class="form-control " ng-model="newQuestion.q " name="newQuestionCtrl" ng-minlength="10 " required>

        <span class="glyphicon glyphicon-ok " ng-show="!qForm.newQuestionCtrl.$error.minlength && !qForm.newQuestionCtrl.$error.required " style="color: green "></span>

        <span class="glyphicon glyphicon-remove " ng-show="qForm.newQuestionCtrl.$error.minlength || qForm.newQuestionCtrl.$error.required " style="color: red "></span>

        <br>Options: (at least 2)
        <div class="form-group ">
            <div ng-repeat="option in newQuestion.options " class="form-control ">
                <span class="input-group-addon " style="float: left ">
                    <input type="radio" name="correctAnswer " ng-model="newQuestion.answer " ng-value="option.value ">
                </span>
                <input type="text " ng-model="option.value" name="value" ui-validate="'checkNumQuestions()'">
                    <button type="button " class="btn btn-default ">Delete</button>

            </div>
        </div>

        <button class="btn btn-danger " ng-click="addOptionField() ">Add Option</button>
        <br>
        <br>Difficulty (1-10):
        <input type="text " class="form-control " ng-model="newQuestion.difficulty">
        <br>
        <button type="submit " class="btn btn-danger " ng-click="addNewQuestion() " ng-disabled="qForm.$error.question_length">Submit</button >
        {{newQuestion.q}} {{newQuestion.answer}} {{newQuestion.difficulty}} {{newQuestion.options[0].value}}
    </form>
</div>